@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657858145671') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before {
  content: "\e61a";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-daohang:before {
  content: "\e62b";
}

.icon-xiangzuo:before {
  content: "\eb15";
}

.icon-xiangxia:before {
  content: "\e638";
}

.icon-ziyuan:before {
  content: "\e602";
}

